# Required by configuration policy controller
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: open-cluster-management:management:multicluster-controlplane:agent
rules:
- apiGroups: [""]
  resources: ["namespaces"]
  verbs: ["get", "list", "watch", "create", "delete", "update", "patch"]
- apiGroups: ["", "events.k8s.io"]
  resources: ["events"]
  verbs: ["get", "list", "watch", "create", "update", "patch"]
- apiGroups: [""]
  resources: ["secrets"]
  resourceNames: ["policy-encryption-key"]
  verbs: ["get", "list", "watch"]
- apiGroups: ["policy.open-cluster-management.io"]
  resources: ["configurationpolicies", "policies"]
  verbs: ["get", "list", "watch", "create", "patch", "update", "delete"]
- apiGroups: ["policy.open-cluster-management.io"]
  resources: ["configurationpolicies/status", "policies/status"]
  verbs: ["get", "list", "watch", "create", "patch", "update", "delete"]
# apply the configurationPolicy and policy crd
- apiGroups: ["apiextensions.k8s.io"]
  resources: ["customresourcedefinitions"]
  verbs: ["create", "get", "list", "update", "watch", "patch", "delete"]
- apiGroups: ["apps"]
  resources: ["deployments"]
  verbs: ["get", "watch", "list", "patch", "update"]