kind: Deployment
apiVersion: apps/v1
metadata:
  name: {{ .KlusterletName }}-multicluster-controlplane-agent
  namespace: {{ .AgentNamespace }}
  labels:
    app: multicluster-controlplane-agent
spec:
  replicas: 1
  selector:
    matchLabels:
      app: multicluster-controlplane-agent
  template:
    metadata:
      labels:
        app: multicluster-controlplane-agent
    spec:
      serviceAccountName: {{ .KlusterletName }}-agent-sa
      containers:
      - name: agent
        image: {{ .AgentImage }}
        imagePullPolicy: IfNotPresent
        args:
          - "/multicluster-controlplane"
          - "agent"
          - "--cluster-name={{ .ClusterName }}"
          - "--hub-kubeconfig-secret={{ .HubKubeConfigSecret }}"
          - "--bootstrap-kubeconfig=/spoke/bootstrap/kubeconfig"
          {{if ne .InstallMode "Hosted"}}
          - "--feature-gates=AddonManagement=true"
          {{end}}
          {{if eq .InstallMode "Hosted"}}
          - "--spoke-kubeconfig=/spoke/config/kubeconfig"
          - "--deploy-mode=Hosted"
          {{end}}
        env:
        - name: OPERATOR_NAME
          value: {{ .KlusterletName }}-multicluster-controlplane-agent
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
              - ALL
          privileged: false
          runAsNonRoot: true
        volumeMounts:
        - name: bootstrap-kubeconfig
          mountPath: "/spoke/bootstrap"
          readOnly: true
        - name: hub-kubeconfig
          mountPath: "/spoke/hub-kubeconfig"
        {{if eq .InstallMode "Hosted"}}
        - name: spoke-kubeconfig-secret
          mountPath: "/spoke/config"
          readOnly: true
        {{end}}
      volumes:
      - name: bootstrap-kubeconfig
        secret:
          secretName: {{ .BootStrapKubeConfigSecret }}
      - name: hub-kubeconfig
        emptyDir:
          medium: Memory
      {{if eq .InstallMode "Hosted"}}
      - name: spoke-kubeconfig-secret
        secret:
          secretName: {{ .ExternalManagedClusterKubeConfigSecret }}
      {{end}}
